@{
    ViewBag.Title = "Julklapp";
}
@model SecretSanta.Models.SelectGroupViewModel

<div class="col-md-8">
    <h1 class="hide-mobile2">Julkl<font color="Red">app</font><sup style="font-size:20px; top:-1.6em">2017</sup></h1>
    <p>Äntligen är det dags för jul igen!</p>
    @using (Html.BeginForm("Person", "Home", FormMethod.Post))
    {
        @Html.Label("Välj jul", new { @class = "control-label" })
        @Html.DropDownList("Id", Model.Groups, new { @class = "form-control" })

        <input type="submit" value="Nästa" class="btn btn-danger btn-lg" style="margin-top:20px" />
    }
</div>
<div class="col-md-4 hide-mobile">
    <img src="@Url.Content("~/Content/DSC02370mini.jpg")" alt="IMAGES" class="img-rounded img-responsive" />
</div>